/* Space out content a bit */
body {

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.label{
    color:black;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

body{
    font-family: 'Open Sans', serif;
    background-color: #f8f5ef;
    padding-bottom: 100px;
}

h1{
    font-weight: 800;
    font-size: 56px;
}

p{
    padding-top: 20px;
    font-size: 16px;
    line-height: 150%;
}

hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.help{
    padding-left: 10px;
    color: #ccc;
}

.intro{
    background-color: #2A2C39;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
}

.credits{
    font-size: 10px;
    letter-spacing: 1px;
    padding-top: 0;
    position: absolute;
    bottom: 0;
}

.tool{
    padding-top: 30px;
}

.results,.report{
    margin-top: 30px;
    padding:0;
}
.results{
    padding-irght:15px;
}
.report{
    padding-left:15px;
}

.box{
    background-color: #fff;
    padding: 20px;
}

.navbar{
    margin-bottom: 0;
}

.navbar-inverse{
    border: none;
}

.navbar-brand{
    font-weight: 800;
    font-size: 26px;
    letter-spacing: 1px;
}


.btn-success{
    background-color: #61AE61;
    border:none;
}

.btn{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

label{
    color: #8F8F8F;
    font-weight: 600;

}
.report .btn-group{
    margin-bottom:20px;
}
tags-input .tags .tag-item{
    background: #f1f1f1;
}
.controls input, .controls label{
    cursor: pointer;
}
.col-md-1.clear-cache{
    padding-left: 0px;
    margin-top: 35px;
}
a.discreet{
    text-decoration: none;
    color: #333;
}
a.discreet:hover{
    text-decoration: underline;
    color: #151515;
}
#sigma{
    width: 100%;
    height: 450px;
    background-color: white;
}
.sigma-tools{
    border: 1px solid #d2d2d2;
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: #FFF;
    -webkit-box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
    -moz-box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
    box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
}
.sigma-legend{
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    padding: 5px;
    background-color: white;
}
.sigma-legend span{
    float:left;
    margin-right: 10px;
}
.sigma-legend span div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}
